img{
    width: 200px;
    margin-left: 20px;
}
 span{
    margin-left: 17px;
 }

 .stocks{
    position: absolute;
    left: 50%;
    width: 100px;
 }

 .stocks img{
    width: 100px;
    margin-top: -14px;
 }

 button{
    color: blue;
    position: absolute;
    margin-left: 16px;
    margin-top: 12px;

 }

